<link href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet">
<script src="https://unpkg.com/grapesjs"></script>

<!-- plugin-->
<script src="https://unpkg.com/grapesjs-user-blocks"></script>
<script src="https://unpkg.com/grapesjs-templates"></script>
<script src="https://unpkg.com/grapesjs-chartjs-plugin"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/grapesjs-custom-code"></script>
<script src="https://unpkg.com/grapesjs-blocks-basic"></script>
<script src="https://unpkg.com/grapesjs-navbar"></script>
<script src="https://unpkg.com/grapesjs-preset-webpage"></script>
<script src="https://unpkg.com/grapesjs-tui-image-editor"></script>
<script src="https://unpkg.com/grapesjs-typed"></script>
<script src="https://unpkg.com/grapesjs-style-gradient"></script>
<script src="https://unpkg.com/grapesjs-plugin-forms"></script>
<script src="https://unpkg.com/grapesjs-lory-slider"></script>
<script src="https://unpkg.com/grapesjs-countdown"></script>
<script src="https://unpkg.com/grapesjs-tooltip"></script>
<script src="https://unpkg.com/grapesjs-gi"></script>
<script src="https://unpkg.com/grapesjs-storage-redirect"></script>
<script src="https://unpkg.com/grapesjs-component-countdown"></script>
<script src="https://unpkg.com/grapesjs-plugin-export"></script>
<script src="https://unpkg.com/grapesjs-touch"></script>
<script src="https://unpkg.com/grapesjs-parser-postcss"></script>
<script src="https://unpkg.com/grapesjs-tabs"></script>
<script src="https://unpkg.com/grapesjs-cat"></script>
<script src="https://unpkg.com/grapesjs-backbone.undo"></script>





<div id="gjs"></div>

<script type="text/javascript">
  var editor = grapesjs.init({
    container: '#gjs',
  height: '100%',
  fromElement: true,
  storageManager: false,
  plugins: ['grapesjs-user-blocks', 'grapesjs-templates', 'grapesjs-chartjs-plugin', 'grapesjs-custom-code',  'grapesjs-blocks-basic', 'grapesjs-navbar', 'grapesjs-preset-webpage', 'grapesjs-tui-image-editor', 'grapesjs-typed', 'grapesjs-style-gradient', 'grapesjs-plugin-forms', 'grapesjs-lory-slider', 'grapesjs-countdown', 'grapesjs-tooltip', 'grapesjs-gi', 'grapesjs-storage-redirect', 'grapesjs-component-countdown', 'grapesjs-plugin-export', 'grapesjs-touch', 'grapesjs-parser-postcss', 'grapesjs-tabs', 'grapesjs-cat', 'grapesjs-backbone.undo'],
  pluginsOpts: {
    'grapesjs-templates': { 
      templates: 'http://localhost:3000/templates',
      projects: 'http://localhost:3000/projects',
    }
    ,'grapesjs-chartjs-plugin': {
      charts: 'http://localhost:3000/charts'
    },
        'grapesjs-preset-webpage': {
        modalImportTitle: 'Import Template',
        modalImportLabel: '',
        modalImportContent: function(editor) {
            return editor.getHtml() + '<style>'+editor.getCss()+'</style>';
        },
        importViewerOptions: {},
        }

        ,"grapesjs-tui-image-editor": {
          script: 'https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.min.js',
          style: 'https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.min.css',
        }
        ,"grapesjs-gi": {
          script: 'https://unpkg.com/grapesjs-gi/dist/grapesjs-gi.min.js',
          style: 'https://unpkg.com/grapesjs-gi/dist/grapesjs-gi.min.css',
        }
        ,"grapesjs-plugin-export": {
          btnLabel: 'Export',
          filenamePfx: 'grapesjs',
        }
        ,"grapesjs-backbone.undo": {
          script: 'https://unpkg.com/grapesjs-backbone.undo/dist/grapesjs-backbone.undo.min.js',
          style: 'https://unpkg.com/grapesjs-backbone.undo/dist/grapesjs-backbone.undo.min.css',

        }
    }
  });
</script>