<link href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet">
<script src="https://unpkg.com/grapesjs"></script>

<!-- plugin-->
<script src="https://unpkg.com/grapesjs-user-blocks"></script>
<script src="https://unpkg.com/grapesjs-templates"></script>
<script src="https://unpkg.com/grapesjs-chartjs-plugin"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/grapesjs-custom-code"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://app.grapesjs.com/plugins/rte/tinymce.min.js"></script>
<script src="https://unpkg.com/grapesjs-blocks-basic"></script>
<script src="https://unpkg.com/grapesjs-navbar"></script>
<script src="https://unpkg.com/grapesjs-preset-webpage"></script>
<script src="https://unpkg.com/grapesjs-tui-image-editor"></script>
<script src="https://unpkg.com/grapesjs-typed"></script>
<script src="https://unpkg.com/grapesjs-style-gradient"></script>
<script src="https://unpkg.com/grapesjs-plugin-forms"></script>
<script src="https://unpkg.com/grapesjs-lory-slider"></script>
<script src="https://unpkg.com/grapesjs-countdown"></script>
<script src="https://unpkg.com/grapesjs-tooltip"></script>
<script src="https://unpkg.com/grapesjs-gi"></script>
<script src="https://unpkg.com/grapesjs-storage-redirect"></script>
<script src="https://unpkg.com/grapesjs-component-countdown"></script>
<script src="https://unpkg.com/grapesjs-plugin-export"></script>
<script src="https://unpkg.com/grapesjs-touch"></script>
<script src="https://unpkg.com/grapesjs-parser-postcss"></script>
<script src="https://unpkg.com/grapesjs-tabs"></script>
<script src="https://unpkg.com/grapesjs-cat"></script>
<script src="https://unpkg.com/grapesjs-backbone.undo"></script>
<script src="https://unpkg.com/grapesjs-indexeddb"></script>
<script src="https://unpkg.com/grapesjs-firestore"></script>



<div id="gjs"></div>

<script type="text/javascript">
  var editor = grapesjs.init({
    container: '#gjs',
  height: '100%',
  fromElement: true,
  storageManager: false,
  plugins: ['grapesjs-user-blocks', 'grapesjs-templates', 'grapesjs-chartjs-plugin', 'grapesjs-custom-code', 'grapesjs-rte-tinymce', 'grapesjs-blocks-basic', 'grapesjs-navbar', 'grapesjs-preset-webpage', 'grapesjs-tui-image-editor', 'grapesjs-typed', 'grapesjs-style-gradient', 'grapesjs-plugin-forms', 'grapesjs-lory-slider', 'grapesjs-countdown', 'grapesjs-tooltip', 'grapesjs-gi', 'grapesjs-storage-redirect', 'grapesjs-component-countdown', 'grapesjs-plugin-export', 'grapesjs-touch', 'grapesjs-parser-postcss', 'grapesjs-tabs', 'grapesjs-cat', 'grapesjs-backbone.undo', 'grapesjs-indexeddb', 'grapesjs-firestore'],
  pluginsOpts: {
    'grapesjs-templates': { 
      templates: 'http://localhost:3000/templates',
      projects: 'http://localhost:3000/projects',
    }
  }
  });
</script>